<!-- Describe task in general -->

<p>
    <i>
        Ти щойно отримав листа від друга, якого ти не бачив і не чув від нього нічого тривалий час. У цьому листі він дає тобі інструкції, як знайти прихований скарб!
    </i>
</p>

<p>
    У цій місії тобі потрібно слідувати даному переліку інструкцій, які приведуть тебе до певної точки на мапі. Цей перелік у вигляді рядка, кожна літера якого вказує на напрямок твого наступного кроку.
</p>

<p>Буква <b class="code">"f"</b> - каже тобі йти вперед, <b class="code">"b"</b> - назад, <b class="code">"l"</b> - ліворуч і <b class="code">"r"</b> - праворуч.
</p>

<p>
    Це означає, що якщо список твоїх інструкцій наступний - <b class="code">"fflff"</b>, то тобі слід йти вперед два кроки, зробити один крок ліворуч і потім знову двічі вперед.
</p>

<p>
    Тепер, уявимо, що ти на початковій позиції <b class="code">(0, 0)</b>. Якщо ти ступиш крок уперед,  твоя позиція зміниться на <b class="code">(0, 1)</b>. Якщо ступиш ще раз, вона вже стане <b class="code">(0, 2)</b>. Якщо твій наступний крок - ліворуч, тоді твоя позиція стане <b class="code">(-1, 2)</b>. Після наступних двох кроків уперед, твої координати будуть <b class="code">(-1, 4)</b>.
</p>

<p>
    Твоя мета - знайти свої остаточні координати. Як у випадку зверху, це <b class="code">(-1, 4)</b>.</p>

<!-- Explain input and output values -->
<p>
    <strong>Вхідні дані:</strong> Рядок.
</p>

<p>
    <strong>Вихідні дані:</strong> {% if is_js %}Масив{% else %}Кортеж або список{% endif %} з двох цілих чисел.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
<!-- Here you can explain how it can be used in development and what is usage of this. -->
<!-- The section is optional -->
<p class="for_info_only">
    <strong>Як це використовується:</strong>
    <i>в іграх з мапою.</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Передумова:</strong>
    <i>тільки літери "f", "b", "l" і "r" дозволені.</i>
</p>
